<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel Reservation System</title>
</head>
<body>
<h1> This is all current Users! </h1>

<Table>
    <Tr>
        <Th> First Name </Th>
        <Th> Last Name </Th>
        <Th> Username </Th>
        <Th> Password </Th>
    </Tr>
    <Tr th:each="account : ${accounts}">
        <td th:text="${account.firstName}"> 1 </td>
        <td th:text="${account.lastName}"> 2 </td>
        <td th:text="${account.username}"> 3 </td>
        <td th:text="${account.password}"> 4 </td>
    </Tr>
</Table>
<button onclick="window.location.href='/'"> Go Back </button>

</body>
</html>