<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel Reservation System Sign Up</title>
</head>
<body>
<h1> Welcome to Royal Hotel's Sign Up Page </h1>
<form method="get" id="form1">
    First Name:<br> <input type="text" name="name">
    <br>
    Last Name:<br> <input type="text" name="name">
    <br>
    Username:<br> <input type="text" name="name">
    <br>
    Password:<br> <input type="password" name="password">
</form>
<button type="Submit" form="form1" value="Login"> Login </button>

</body>
</html>